.games-list {
    width: 100%;
    height: fit-content;   
}

.container-game {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-game > img {
    width: 80%;
}

.container-game > .title-h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    font-size: 24pt;
    color: white;
}

.container-game > .warning {
    position: absolute;
    bottom: 0;
    width: 75%;
    margin-bottom: 22px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 840px) {
    .container-game > .title-h1 {
        font-size: 14pt;
    }

    .container-game > .warning {
        font-size: 11pt;
        margin-bottom: 2px;
    }
}