.stacks {
    width: 100%;
    height: fit-content;
    padding: 10% 30px;
    color: white;
}

.tecnologias {
    position: relative;
    background-image: url("assets/unity\ logo.png");
    background-size: 25%;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 100px;
}

.stacks .engines {
    margin-bottom: 60px;
}

.sobre .message {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
}

.sobre .message h1 {
    font-size: 22pt;
    color: white;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width: 840px) {
    .tecnologias {
        height: fit-content;
        background-size: 35%;
        background-position-y: 150px;
    }

    .sobre {
        height: fit-content;
    }

    .sobre .message h1 {
        font-size: 4.4vw;
        padding: 0px 15px;
    }
    .sobre .message br {
        display: none;
    }
}